* {
  font-family: sans-serif;
  color: #ffffff;
}

html,
body {
  height: 100%;
  background-color: #1c1d1e;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15pt;
  list-style: none;
  padding: 0 19pt;
  background-color: #25292b;
  height: 47pt;
  border-radius: 5pt;
}

summary i {
  background-color: #25292b;
  color: gray;
}

a {
  color: #ef5a21;
}

.banner {
  width: 100%;
  height: auto;
}

.sticky-play {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  margin-top: -89px;
  width: 100%;
  border-top-style: solid;
  border-top-color: #ef5a21;
  border-width: 2.6pt;
  background-color: #171718;
  padding: 13.5pt 0;
  left: 0;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.big-orange-button {
  background-color: #ef5a21;
  border-style: none;
  border-radius: 3pt;
  font-size: 15pt;
  font-weight: 600;
  padding: 8pt 30pt;
  cursor: pointer;
}

.main-content-container {
  margin: 18pt 32pt 40pt 32pt;
}

.terms-container {
  display: flex;
  flex-direction: column;

  gap: 7.5pt;
  margin-top: 25pt;
}

.nav-container {
  display: flex;

  border-radius: 12pt;
  background-color: #2c3234;
  margin: 40px 0;
}

.nav-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  line-height: 4px;
  height: 60pt;
  text-decoration: none;
}

.active {
  background-color: #ef5a21;
  transform: scale(1.1);
  border-radius: 12pt;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  font-size: 18pt;
  font-weight: 650;
  height: 80px;
  border-radius: 16pt 16pt 0 0;
  background-color: #2c3234;
  margin-top: 30px;
}

.container-header::before {
  content: "";
  width: 30%;
  height: 6px;
  background-color: #ef5a21;
  position: absolute;
  top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 18px 2px rgba(239, 90, 33, 0.56);
}

.routed-container-body {
  background-color: #171718;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #25292b;
  border-top-color: #2c3234;
  border-radius: 0 0 16pt 16pt;
}

.routed-container-body h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.round-edged-component-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: #25292b;
  border-radius: 12pt;
  height: 455px;
  margin: 24px;
  padding: 0 35px 35px 35px;
}

.scrollable-list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  overflow: hidden;
  overflow-y: scroll;
  padding-right: 25px;
}

.scrollable-list-container::-webkit-scrollbar {
  width: 7px;
}

.scrollable-list-container::-webkit-scrollbar-track {
  background-color: #2c3234;
}

.scrollable-list-container::-webkit-scrollbar-thumb {
  background-color: #f05a22;
  border-radius: 20px;
}

.header-span-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 130px 0 30px;
  margin: 20px 0;
}

.header-span-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #7d7d7d;
  font-size: 13pt;
}

.scrollable-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13pt;
  background-color: #1e2122;
  min-height: 70px;
  padding: 0 30px;
  border: 2pt solid #2c3234;
  border-radius: 76pt;
}

.player-number {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #25292b;
  border-width: 0.5px;
  border-radius: 50%;
  padding: 5.76px 11px;
  width: 15px;
  height: 25px;
}

.prize {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.round-edged-component-wrapper span img {
  height: 50px;
}

.gifts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;

  position: relative;
  max-height: 72px;
  padding: 26px 36px;
  padding-right: 350px;
  background-color: #202324;
  border-radius: 12pt;
}

.gifts::before {
  content: "";
  width: 6px;
  height: 60%;
  background-color: #ef5a21;
  position: absolute;
  left: 0px;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 0px 18px 2px rgba(239, 90, 33, 0.56);
}

.gifts h2 {
  font-weight: 300;
  text-align: left;
}

.other-deals-wrapper {
  margin-top: 55px;
  padding-bottom: 50px;
  height: 520px;
}

.other-deals-wrapper h1 {
  margin-bottom: -100px;
}

.other-deals {
  display: grid;
  gap: 30px;
  grid-auto-flow: column;
  grid-auto-columns: 28%;

  overflow-x: auto;
  padding-top: 32px;
}

.other-deals::-webkit-scrollbar {
  background-color: transparent;
}

.other-deals::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.other-deal-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 25px;
  margin: 120px 0;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  border-radius: 5pt;
}

#item-1 {
  /* background-image: url("./assets/100bonus.png"); */
  background: linear-gradient(
      2deg,
      rgba(13, 100, 155, 1) 0%,
      rgba(13, 100, 155, 1) 45%,
      rgba(255, 255, 240, 0) 100%
    ),
    url("./assets/100bonus.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 110%;
}
#item-2 {
  /* background-image: url("./assets/car.png"); */
  background: linear-gradient(
      2deg,
      rgba(239, 84, 28, 1) 0%,
      rgba(239, 84, 28, 1) 45%,
      rgba(255, 255, 240, 0) 100%
    ),
    url("./assets/car.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 110%;
}
#item-3 {
  /* background-image: url("./assets/jackpot.png"); */
  background: linear-gradient(
      2deg,
      rgba(26, 23, 108, 1) 0%,
      rgba(26, 23, 108, 1) 45%,
      rgba(255, 255, 240, 0) 100%
    ),
    url("./assets/jackpot.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 110%;
}

.additional-info-bar {
  text-align: center;
  border-radius: 16pt;
  margin: 40px 0;
  padding: 18px 270px;
  background-color: #25292b;

  position: relative;
}

.additional-info-bar::before {
  content: "";
  width: 30%;
  height: 6px;
  background-color: #ef5a21;
  position: absolute;
  top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 18px 2px rgba(239, 90, 33, 0.56);
  transform: translateX(-50%);
}

.timing-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border: 2pt solid #f05a22;
  border-radius: 10pt;
  box-shadow: 0px 0px 15px 0px rgba(239, 90, 33, 0.56);
}

.timing-container::before {
  content: "";
  width: 7%;
  height: 115%;
  background-color: #f05a22;
  position: absolute;
  left: 30px;
  border-radius: 50%;
}

.timing-container img {
  font-weight: bold;
  padding: 7px 7px 7px 12px;
  background-color: #f05a22;
  border-radius: 5pt 0 0 5pt;
  z-index: 10;
}

.timing {
  border-radius: 0 10pt 10pt 0;
  padding: 8px 12px;
}

.spring-series {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;

  background-image: url("./assets/promo-left-img.png"),
    url("./assets/promo-right-img.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 25%, 25%;
  background-position: -5% 100%, 105% 100%;
}

.poker-ad-container {
  display: flex;
  align-items: center;
  gap: 3%;

  margin: 15px 5%;
}

.poker-ad {
  display: flex;
  justify-content: space-around;
  gap: 40px;

  width: 100%;
  height: 125px;
  background-image: url("./assets/tournament-bg2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 12pt;
}

.poker-ad span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.poker-ad h4,
h1 {
  margin: 10px 0;
}

.poker-ad h1 {
  color: #ffbe00;
}

.poker-ad-date {
  background-color: #b78648;
  text-align: center;
  border-radius: 15pt 15pt 0 15pt;
  padding: 4px 20px;
}

.main-event-ad {
  justify-content: center;
  gap: 10%;
  background-image: url("./assets/main-bg.png");
  margin: 15px 5%;
  width: 90%;
}

.main-event-ad :first-child h4 {
  font-size: 30px;
}

.main-event-date {
  background-color: #d7c860;
  padding: 7px 24px;
}

.final-stage-container-specific {
  border-radius: 16pt;
  padding: 3%;
}

.malta-pic {
  width: 100%;
  border-radius: 12pt;
}

.malta-info-bar {
  justify-content: center;
  padding: 5px 36px;
  background-color: #2c3234;
  margin: 0 24%;
}

.pass-categories-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.pass-categories-wrapper span {
  font-size: 18px;
}

.pass-categories {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pass-feature-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;

  background-color: #25292b;
  border-style: none;
  padding: 10px;
}

.pass-feature {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  border-radius: 10pt;
  background-color: #1c1d1e;
  padding: 20px;
}

.pass-feature span {
  text-align: left;
}

.pass-feature img {
  height: 40px;
}

.final-gifts-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.final-gifts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.final-gifts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: #1e2122;
  border-radius: 12pt;
  padding: 35px;
}

.final-gifts h2 {
  margin: 0;
}

.final-gifts p {
  margin-bottom: 0;
  text-align: left;
}

.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin: 0 100px 30px 100px;
}

.container-header img {
  width: 50%;
  height: 100%;
}

.mystic-key-special {
  padding: 35px;
}

.mystic-key-special .scrollable-list-container .scrollable-entry {
  justify-content: flex-start;
  gap: 20px;
}

.score-mechanic {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
  margin: 20px 37%;
  background-color: #202324;
  border: 3px solid #2c3234;
  border-radius: 16pt;
  overflow: visible;
  padding: 10px 0;
}

.score-mechanic img {
  position: absolute;
  width: 13%;
}

.score-mechanic span {
  margin-right: 24%;
}
