* {
  font-family: sans-serif;
  color: #ffffff;
}

html,
body {
  height: 100%;
  background-color: #1c1d1e;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 75pt; */
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15pt;
  list-style: none;
  padding: 0 19pt;
  background-color: #25292b;
  height: 47pt;
  border-radius: 5pt;
}

summary i {
  background-color: #25292b;
  color: gray;
}

.banner {
  width: 100%;
  height: auto;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.sticky-play {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;
  width: 100%;
  border-top-style: solid;
  border-top-color: #ef5a21;
  border-width: 2.6pt;
  background-color: #171718;
  padding: 13.5pt 0;
}

.sticky-play-button {
  background-color: #ef5a21;
  border-style: none;
  border-radius: 3pt;
  font-size: 15pt;
  padding: 8pt 40pt;
}

.main-content-container {
  margin: 18pt 32pt 40pt 32pt;
}

.terms-container {
  display: flex;
  flex-direction: column;

  gap: 7.5pt;
  margin-top: 25pt;
}

.nav-container {
  display: flex;

  border-radius: 12pt;
  background-color: #2c3234;
  margin: 40px 0;
}

.nav-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  line-height: 4px;
  height: 60pt;
  text-decoration: none;
}

.active {
  background-color: #ef5a21;
  transform: scale(1.1);
  border-radius: 12pt;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  font-size: 18pt;
  font-weight: 650;
  height: 80px;
  border-radius: 16pt 16pt 0 0;
  background-color: #2c3234;
}

.container-header::before {
  content: "";
  width: 30%;
  height: 6px;
  background-color: #ef5a21;
  position: absolute;
  top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 18px 2px rgba(239, 90, 33, 0.56);
}

.routed-container-body {
  background-color: #171718;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #25292b;
  border-top-color: #2c3234;
  border-radius: 0 0 16pt 16pt;
}

.routed-container-body h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.round-edged-component-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: #25292b;
  border-radius: 12pt;
  height: 455px;
  margin: 24px;
  padding: 0 32px 32px 32px;
}

.top-players-list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  overflow: hidden;
  overflow-y: scroll;
}

.top-players-list::-webkit-scrollbar {
  width: 7px;
}

.top-players-list::-webkit-scrollbar-track {
  background-color: #2c3234;
}

.top-players-list::-webkit-scrollbar-thumb {
  background-color: #f05a22;
  border-radius: 20px;
}

.header-span-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 130px 0 30px;
  margin: 20px 0;
}

.header-span-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #7d7d7d;
  font-size: 13pt;
}

.header-span-container span img {
  /* margin-left: -150px; */
  width: 30px;
}

.top-player-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13pt;
  background-color: #1e2122;
  min-height: 70px;
  padding: 0 30px;
  border: 2pt solid #2c3234;
  border-radius: 76pt;
}

.player-number {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #25292b;
  border-width: 0.5px;
  border-radius: 50%;
  padding: 5.76px 11px;
  width: 15px;
  height: 25px;
}

.prize {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.round-edged-component-wrapper span img {
  height: 50px;
}

.gifts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;

  position: relative;
  max-height: 72px;
  padding: 26px 36px;
  padding-right: 350px;
  background-color: #202324;
  border-radius: 12pt;
}

.gifts::before {
  content: "";
  width: 4px;
  height: 60%;
  background-color: #ef5a21;
  position: absolute;
  left: 0px;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 0px 18px 2px rgba(239, 90, 33, 0.56);
}

.gifts h2 {
  font-weight: 300;
  text-align: left;
}
